{% extends "base.html" %}
{% block content %}

<div class="title">
    <h1>Dynamic Memory Networks</h1>
</div>

<div class="input-and-question">
    <form>
        <div class="input">
            <div class="form-group">
                <label for="input">Input:</label>
                <textarea class="form-control" rows="8" id="input" name="input"
                          value="">{{input if input != None}}</textarea>
            </div>
        </div>
        <div class="question">
            <div class="form-group">
                <label for="question">Question:</label>
                <input type="text" class="form-control" id="question" name="question"
                       placeholder="What would you like to know?" value="{{question if question != None}}">
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% if answer %}
<div class="answer">
    Answer:
    <p><b>{{answer}}</b>
</div>


<div class="container">
    <h3>Episodes</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Sentence</th>
            <th>Episode 1</th>
            <th>Episode 2</th>
            <th>Episode 3</th>
        </tr>
        </thead>
        <tbody>

        {% for sentence in sentences %}
            <tr>
                <td>{{sentence}}</td>
                <td>{{episode_1_gates[loop.index - 1]}}</td>
                <td>{{episode_2_gates[loop.index - 1]}}</td>
                <td>{{episode_3_gates[loop.index - 1]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}
