/**
* Styling for demo.
*/

.title {
    margin: 10px;
    border-radius: 5px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    padding-left: 10px;
    /*text-align: center;*/
}

.input-and-question {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 5px;
    border-radius: 5px;
    /*background: #c5daf7;*/
    background: #e2ecff;
}

.input-and-question .input .form-control {
    width: 98%;
}

.input-and-question .question .form-control {
    width: 50%;
}

.answer {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-top: 5px;
    border-radius: 5px;
    background: #ebfbeb;
}